<header>
    <a href="{{page_title2}}">{{page_title2}} Page</a>
    <a href="{{page_title3}}">{{page_title3}} Page</a>
    <a href="{{page_title4}}">{{page_title4}} Page</a>
</header>

<div class="HeroMainText">{{title}} Page</div>
{% extends "layout.html" %}
{%block body_content %}

<p>This page is all about the cast and support team</p>

<p>This is a list of the main cast:</p>

<ul>
<!--    <br>&nbsp;-->
    <li>Geralt - Henry Cavill</li>
    <li>Yennefer - Anya Chalotra</li>
    <li>Ciri - Freya Allan</li>
    <li>Dandelion aka The Bard - Joey Batey</li>
    <li>Fringilla Vigo - Mimi Ndiweni</li>
    <li>Triss - Anna Shaffer</li>
    <li>Tissai - MyAnna Buring</li>
    <li>Cahir - Eamon Farren</li>
    <li>Istredd - Royce Pierreson</li>
    <li>Vesemir - Kim Bodnia</li>
</ul>

<p>A list of directors is:</p>
<ul>
    {% for item in person %}
    <li>{{ item }}</li>
    {% endfor %}
</ul>

{% endblock %}

