<header>
    <a href="{{page_title}}">{{page_title}} Page</a>
    <a href="{{page_title3}}">{{page_title3}} Page</a>
    <a href="{{page_title4}}">{{page_title4}} Page</a>
</header>


<div class="HeroMainText">{{title}} Page</div>

{% extends "layout.html" %}
{%block body_content %}

<ul>
    Season 1
    <li>Ep1: The End's Beginning </li>
    <li>Ep2: Four Marks</li>
    <li>Ep3: Betrayer Moon</li>
    <li>Ep4: Of Banquets, Bastards and Burials</li>
    <li>Ep5: Bottled Appetites</li>
    <li>Ep6: Rare Species</li>
    <li>Ep7: Before a Fall</li>
    <li>Ep7: Much More</li>
</ul>

<ul>
    Season 2
    <li>Ep1: A Grain of Truth</li>
    <li>Ep2: Kaer Morhen</li>
    <li>Ep3: What Is Lost</li>
    <li>Ep4: Redanian Intelligence</li>
    <li>Ep5: Turn Your Back</li>
    <li>Ep6: Dear Friend</li>
    <li>Ep7: Voleth Meir</li>
    <li>Ep8: Family</li>
</ul>

{% endblock %}