<!--<a href="{}.format(url)">{{page_title}} Page</a>-->
<div class = "sectionOne">

    <header>
        <a href="{{page_title}}">
            {{page_title}} Page
        </a>
        <a href="{{page_title2}}">{{page_title2}} Page</a>
    </header>

<!--    <h1><u> {{title}} Page</u></h1>-->

    <div class="Hero">
        <div class = "HeroText">
            <div class="HeroMainText">{{title}} Page</div>
            <div class="HeroSecondaryText">Welcome to The Witcher Fanpage.
                This page is an introduction to all things Witcher</div>
            <div class="HeroSecondaryText">On this page and the following pages you will learn all you could ever want to know about the show the Witcher</div>
        </div>
    <div class ="BoxedImage">This is a placeholder for an image</div>
    </div>
</div>


{% extends "layout.html" %}
{%block body_content %}

<!--<p> This page is an introduction to the Witcher </p>-->
<!--<p> On this page and the following pages you could learn all you could ever want to know about the show the Witcher </p>-->

<!--<p> Enjoy!! </p>-->

{% endblock %}