body {
    background-color: pink;
    color: navy;
    }

h1 {
    font-size: 60px;
    font-family: 'Archive Black', sans-serf;
}

p {
    font-size: 24px;
    font-family: 'Archive Black', sans-serf;
    color: dark purple;
}

